<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/style/create_user.css">
</head>
<body>

<form action="/users/create" method="post">
  <div class="imgcontainer">
    <img src="/assets/dog-typing.gif" alt="Avatar" class="avatar">
    <h2>REGISTER FORM</h2>
  </div>

  <div class="container">
    <label for="name"><b>Name</b></label>
    <input type="text" placeholder="Enter Name" name="name" id="name" required>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" id="email" required>

    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" id="username" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" id="password" required>
        
    <button type="submit" id="submit">REGISTER</button>
  </div>
</form>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      const submit = document.getElementById('submit');
      submit.addEventListener('click', () => {
        Swal.fire({
          title: 'Success',
          html: 'User data created successfully <br><h3>back to /users</h3> or <br><h3 style="display: inline"><a href="http://localhost:3000/users">check here</a></h3> if you use port <span style="color: red; font-weight: bold; font-size: 25px;">3000</span>',
          icon: 'success',
          confirmButtonText: 'close',
        }).then((result) => {
          if (result.isConfirmed) {
            location.reload();
          }
        });
      });
    </script>
</body>
</html>